Source: yaybu
Homepage: http://www.yaybu.com/
Maintainer: John Carr <john.carr@isotoma.com>
Section: python
Priority: optional
Build-Depends: debhelper, python-dev, libssl-dev
Standards-Version: 3.8.4

Package: python-yaybu
Homepage: http://www.yaybu.com/
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Yaybu all-in-one bundle

