#!/usr/bin/make -f

# Clean path
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games

export PIP_DOWNLOAD_CACHE=$(shell pwd)/../downloads
# export PIP_BUILD_DIR=$(shell pwd)/../build
export PIP_WHEEL_DIR=$(shell pwd)/../wheels
export PIP_USE_WHEELS=true
export PIP_FIND_LINKS=file://$(shell pwd)/../wheels

%:
	dh $@

override_dh_auto_clean:
	true

override_dh_auto_build:
	pip wheel -r requirements/yaybu.deb.txt
	pip install -r requirements.txt

override_dh_auto_install:
	python setup.py install_exe -d $(PWD)/debian/python-yaybu/usr/lib/yaybu/
